<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://cxf.apache.org/transports/http/configuration
						http://cxf.apache.org/schemas/configuration/http-conf.xsd
						http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                      	http://cxf.apache.org/jaxws 
                      	http://cxf.apache.org/schemas/jaxws.xsd">

	<bean id="resumeManagementServiceProxy" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="${ws.client.serviceClass}" />
		<property name="address" value="${ws.client.wsdl}" />
	</bean>

	<bean id="resumeManagementService" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean"
		factory-bean="resumeManagementServiceProxy" factory-method="create" />

</beans>