<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      Sapient
    </title>
    <link rel="stylesheet" type="text/css" href="../styles/menu.css" media="all"/>
    <script type="text/javascript" src="../scripts/jquery.js">
    </script>
    <script type="text/javascript" src="../scripts/menu.js">
    </script>
    <style type="text/css">
      body,td,th { color: #C33; font-size: 12px; }
    </style>
  </head>

  <body>

    <img src="../images/header.jpg"  height="90" >
    <style type="text/css">

      * { margin:0; padding:0; } html { background:#D8D9DB; } body { margin:0px auto; width:1000px; height:inherit;
      background:#FFF; overflow:visible; } div#menu { } div#copyright { display: none; }
    </style>
    <div id="menu">
      <ul class="menu">
        <li>
        <a href="#" class="parent">
          <span>
            Home
          </span>
        </a>

      </li>
      <li>
      <a href="#" class="parent">
        <span>
          Manage Resume
        </span>
      </a>
      <div>
        <ul>
          <li>
          <a href="#">
            <span>
              Personal Information
            </span>
          </a>

        </li>
        <li>
        <a href="#">
          <span>
            Contact Information
          </span>
        </a>
      </li>
      <li>
      <a href="#">
        <span>
          Education Information
        </span>
      </a>
    </li>
    <li>
    <a href="#">
      <span>
        Employment Information
      </span>
    </a>
  </li>
  <li>
  <a href="#">
    <span>
      Project Information
    </span>
  </a>
</li>
<li>
<a href="#">
  <span>
    Profile Summary Information
  </span>
</a>
</li>
<li>
<a href="#">
  <span>
    Skill Sets Information
  </span>
</a>
</li>

</ul>
</div>
</li>
<li>
<a href="#">
  <span>
    Search
  </span>
</a>
</li>
<li>
<a href="#">
  <span>
    Help
  </span>
</a>
</li>
<li class="last">
<a href="#">
  <span>
    Logout
  </span>
</a>
</li>
</ul>
</div>

</div>

</body>

</html>
