<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Skills Information</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="view.js"></script>

</head>
<body id="main_body" >
	
	<img id="top" src="top.png" alt="">
	<div id="form_container">
	
		<h1><a>Recognition/Awards/Certifications Information</a></h1>
		<form id="form_154906" class="appnitro"  method="post" action="">
					<div class="form_description">
			<h2>Recognition/Awards/Certifications Information</h2>
			<p>Please enter your Recognition/Awards/Certifications Information.</p>
		</div>						
			<ul >

		<li id="li_2" >
		<label class="description" for="element_2">Recognition Type </label>
		<div>
		<select class="element select medium" id="element_2" name="element_2"> 
			<option value="" selected="selected"></option>
			<option value="1" >Recognition</option>
			<option value="2" >Awards</option>
			<option value="3" >Certification</option>

		</select>
		</div><p class="guidelines" id="guide_2"><small>Please enter the type of Recognition. </small></p> 
		</li>


			
		<li id="li_1" >
			<label class="description" for="element_1">Discription </label>
			<div>
				<input id="element_1" name="element_1" class="element text medium" type="text" maxlength="255" value=""/> 
			</div><p class="guidelines" id="guide_1"><small>Please enter discription of your Recognition/Awards/Certifications.</small></p> 
		</li>		
		<li class="buttons">
			    <input type="hidden" name="form_id" value="150544" />
			    	<img src="C:\Documents and Settings\komar\Desktop\forms\add skill.png"/>
				&nbsp;  &nbsp;&nbsp;&nbsp;
				<img src="C:\Documents and Settings\komar\Desktop\forms\Done.png"/>
		</li>

		</ul>
		</form>	
		<div id="footer">
			Copyright 2011, Sapient Corporation. All rights reserved.
		</div>
	</div>
	<img id="bottom" src="bottom.png" alt="">
	</body>
</html>